version: '3'

services:
  apache:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
         - http_proxy
         - https_proxy
         - no_proxy
    ports:
      - '8889:80'
      - '8443:443'
    volumes:
      - ./code/:/app
    args:
       - http_proxy
       - https_proxy
       - no_proxy
